VITE_PROD_ADMIN_API_BASE_URL=https://admin-prod-api.appenzademo.com
VITE_PROD_APPLICANT_API_BASE_URL=https://applicant-prod-api.appenzademo.com
VITE_PROD_USE_MOCKS=false
VITE_PROD_DEMO_BYPASS=false
VITE_PROD_USE_APPLICANT_AUTH_BACKEND=true
